
.div1 {
	height: 300px;
	background: yellow;
	padding: 30px;
}
.div1__div {
	width: 100px;
	height: 100px;
	background: red;
	transition-property: background;
	/* (a que propiedad se va a la transición, al "background") */
	transition-duration: 1s;
	/* (la duración de la transición) */
	transition-delay: 2s;
	/* (cuando pasas el mouse, 2 segundos despues recien comienza la transición) */
}
.div1__div:hover {
	/* (es necesario el hover para la transición, sino no ocurrirá) */
	background: blue;
}
.div1B {
	background: orange;
	padding: 20px 5px;
}
.div1B__div {
	width: 150px;
	height: 150px;
	background: green;
	transition-property: background;
	transition-duration: 1s;
	margin: 30px;
	/*background: inherit;*/
	/* (hereda el color de container) */
	border: 2px solid #000;
}
.div1B__div:hover {
	/* (es necesario el hover para la transición, sino no ocurrirá) */
	background: lime;
}
.div1B__div:firts-child {
	transition-timing-function: linear;
}
.div1B__div:nth-child(2) {
	transition-timing-function: ease;
}
.div1B__div:nth-child(3) {
	transition-timing-function: ease-in;
}
.div1B__div:nth-child(4) {
	transition-timing-function: ease-out;
}
.div1B__div:nth-child(5) {
	transition-timing-function: ease-in-out;
}

